@media screen and (max-width:426px){
    .nav-container{
        display: grid;
        grid-template-columns:repeat(1, 1fr);
        
    }
    .logo-Gamer{
        display: flex;
        width:50%;
        margin-left: 60px;
        
    }

    .nav-list{
        width: 50%;
        display: grid; 
        grid-template-columns:repeat(1, 1fr);
        justify-content: space-evenly;
        align-items: center;
        margin-left: 100px;
        margin-bottom: 5px;
    }

    .logo{
        width: 50px;
        height: 21px;
    }
    .gamer-text{
        font-size: 30px;
        font-weight: 500;
    }
    .nav-list a{
        padding-bottom: 10px;
    }
    .anchor1 , .anchor2{
        margin-left: 60px
    }
    .nav-anchor-bg{
        align-items: center;
        justify-content: space-evenly;
    }

    .goat-img-section{
        display: grid;
        grid-template-columns:repeat(1, 1fr) ;
    }
    .goat-text{
        padding-left: 40px;
    }
    .four-img{
        display: grid;
        grid-template-columns:repeat(1, 1fr) ;
        width: 113%;
        height:90%;
    }
    .play , .goat , .three-icon a{
       padding-left: 50px;
    }
    .four-img1-size{

    }
    .horse{
        display: grid;
        grid-template-columns:repeat(1, 1fr) ;
    }
    .horse-text{
        text-align: center;
    }
    .horse-man{
        padding-left: 130px;
        width: 265px ;
    }
    .rectangle6{
        align-items: flex-start;
        width: 100px;
        height: 120px;
        padding-left: 20%;
        position: relative;
        top: -90px;
        min-height: calc(100% - 41px);
    }

    .Games-link{

        display: grid;
        grid-template-columns:repeat(3, 1fr) ;
        justify-content: space-evenly;
    }
    .img-5, .img-4{
        display: grid;
        grid-template-columns:repeat(1, 1fr) ;
        justify-content: space-evenly;
        padding-left: 50px;
    }
    .filogo{
        width: 80px;
        height: 30px;
    }
    .figamer{
   
        font-size: 30px;
        font-weight: 600;
        font-weight:bold;
    }
    .footer-container{
      background-color: #000000;
       width: 105%;
       height: 300px;
       align-items: center;
    }
    
    .footer-img{
        display: flex;
    }
    .filogo{
        width: 40px;
        height: 25px;
        margin-top: 20px;
        margin-left: 40px;
    }
    .figamer{
        color: white;
        font-size: 20px;
        font-weight: 300;
        margin-left: 10px;
    }

    .Option a{
        justify-content: space-evenly;

    }
    .facebook-logo{
        display: flex;
        justify-content: space-evenly;
        padding-top: 12px;
    }
    .last-img-size{
        width: 23px;
        height:23px ;
    }
    .policy p{
        justify-content: space-evenly;
        padding-left: 60px;
    }
    .last-footer{
     
        padding-left: 10px;
    
    }

}