.nav-container{
background-color: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
border: 2px;
display: flex;
justify-content: space-evenly;
align-items: center;

}

.logo-Gamer{
    display: flex;
    width:50%;
    padding-left: 50px;
}

.logo{
    width: 80px;
    height: 30px;
    margin-top:40px;  
}

.gamer-text{
    font-size: 35px;
    font-weight: 700;
    margin-left: 15px;
}

.G-color{
    color: rgb(251, 0, 134);
}

.nav-list{
    width: 50%;
    display: flex; 
    justify-content: space-evenly;
}

.nav-list a{
    text-decoration: none;
}
.nav-anchor-bg{
    background-color: rgba(11, 2, 35, 0.10);
    display: flex;
    border-radius: 5px;
}


.youtube{
    width: 34px;
    height: 24px;
    margin-left: 5px;
}

.tiktok{
    width: 24px;
    height: 24px;
    margin-left: 5px;
}
.goat-img-section{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(252, 236, 244);
}

.goat-text{
    background-image: url("./Group\ 14.png");
}
.play{
    color: #0B0223;
    font-size: 25px;
    font-weight: 700;
    margin-top: 60px;
}
.goat{
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    justify-content: center;
    font-size: 40px;
    font-weight: 5000;
}
.three-icon{
    display: gird;
    grid-template-columns: repeat(1,1fr);
}
.three-icon a{
  text-decoration: none;

  display: flex;
}
.play-button{
    width: 18px;
    height: 18px;
    text-decoration: none;
}

.download-icon{
    width: 35px;
    height: 35px; 
    text-decoration: none;
}
.online-game{
   width: 15px;
   height: 15px;
   text-decoration: none;
}

.sign-up{
    background-color: #f967bf;
    color: white;
    border-radius: 40px;
    display: inline-flex;
    padding: 18px 35px;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 10px;
    font-size: large;
    font-weight: 600;
}

.sign-up:hover{
    background-color: #06f906;
}

.go-rogue{
    background-color: rgb(40, 40, 249);
    color: white;
    border-radius: 40px;
    display: inline-flex;
    padding: 18px 35px;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 10px;
    font-size: large;
    font-weight: 600;
}

.go-rogue:hover{
    background-color: #06f906;
}

.goat-img{
    width: 400px;
    height: 400px;
}
.no{
    padding-top:10px;
}
.four-img-header{
    text-align: center;
}

.four-img{
    display: flex;
}

.four-img1-size{
    width:100% ;
    height: 100%;
}

.four-img2-size{
    width:100% ;
    height: 100%;
}

.four-img3-size{
    width:100% ;
    height: 100%;
}

.four-img4-size{
    width:100% ;
    height: 100%;
}

.four-img3-size:hover{
color: #ff002f;
}

.horse-text{
    text-align: right;
    padding-top: 40px;
    font-weight: 700;
}

.horse{
    display: flex;
    justify-content: space-evenly;
    padding-top: 80px;
}
.horse-man{
    width:300px ;
    height: 300px;
}
.Play-Instantly{
    color: #F948B2;
}
.rectangle6{
    width: 140px;
    height: 170px;
    padding-left: 52%;
    position: relative;
    top: -130px;
    min-height: calc(100% - 41px);
}


.Games-link a{
    text-decoration: none;
    padding-bottom: 10px;
}

.games-link-img{
   height: 25px;
   width:25px;
}
.img-5{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.img-4{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}



.img-9{
    display: flex;
    margin-right: 10px;
    margin-bottom: 10px;
    align-items: center;
    padding:  5px 5px 5px 5px;
}

.Games-link a:hover{
    border: solid rgb(15, 15, 15);
    border-radius: 15px;
}
.footer-container{
    background-color: #000000;
   width: 100%;
   height: 350px;
}

.footer-img{
    display: flex;
    margin-left:40% ;
}
.filogo{
    width: 100px;
    height: 40px;
    margin-top: 35px;
}
.figamer{
    color: white;
    font-size: 30px;
    font-weight: 600;
    margin-left: 15px;
    font-weight:bolder;
}
.Option{
    text-align: center;
}
.Option a{
    text-decoration: none;
    color: white;
    justify-content: space-evenly;
    padding-left: 40px;
}
.facebook-logo{
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}
.last-img-size{
    width: 40px;
    height:40px ;
}
.policy p{
    display: inline;
    color: white;
    justify-content: space-evenly;
    padding-left: 150px;

}
.last-footer{
 
    padding-left: 430px;

}